.done-card {
    background-color: #18181b;
    border-radius: 8px;
    width: 300px;
    max-width: 100%;
    border:3px solid #52525b;
    color: #f4f4f5;
    padding: 15px;
}

.done-card h2 {
    margin: 0;
    padding: 0;
}

.done-item{
    display:flex;
    flex-direction:row;
    gap:10px;
    margin-top:10px;
}

.done-item button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
}