.todo-card {
    background-color: #18181b;
    border-radius: 8px;
    width: 300px;
    max-width: 100%;
    border:3px solid #52525b;
    color: #f4f4f5;
    padding: 15px;
}

.todo-card h2 {
    margin: 0;
    padding: 0;
}

.todo-card-content {
    
}

.todo-card-buttons{
    display:flex;
    padding-top:10px;
    gap:10px;
}